#edit-search-submit{
	background-color: #fcd450;
	border: none;
	font-size: 1em;
	line-height: 170%;
	text-transform: uppercase;
	height: 42px;
	width: 110px;
	padding:0;
	float:left;
  margin-left: 0px;
}


input[type=submit] {
  float: none;
  clear: none;
}

#button-container{
	display: block;
}

#edit-view-all{
	background-color: #fcd450;
	border: none;
	font-size: 1.1em;
	margin-top: 1em;
	line-height: 150%;
	text-transform: uppercase;
	height: 42px;
	width:200px;
	padding:0px;
}

#edit-view-all:hover,
#edit-search-submit:hover{
	background-color: #000;
	color: #fcd450;
	cursor: pointer;
}
